<h1>Recetas</h1>

<table id="recipes">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Flags</th>
  </tr>
  <% for recipe in @recipes %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.description %></td>
      <td><%= recipe.flags %></td>
    </tr>
  <% end %>
  <tr>
  </tr>
</table>
